.banner {
  display: block;
  background-color: $white;
  padding-bottom: 20px;
  margin-bottom: 20px;

  &-img {
    max-width: 100%;
  }

  &-create {
    color: $gray-dark;
    font-size: 22px;
  }

  &-profile {
    color: $gray-dark;
    font-weight: bold;
    font-size: 34px;
    margin-top: 30px;
  }

  &-btn {
    margin-top: 40px;
  }
}
