.dropdown {

  position: relative;

  &.dropdown-open {

    //.dropdown-header {
    //
    //  &:after {
    //    transform: rotate(-180deg);
    //  }
    //
    //}

    .dropdown-content {
      max-height: 2000px;
      overflow: auto;
    }

  }

  .dropdown-header {
    position: relative;
    cursor: pointer;
    padding-right: 15px;

    .user-profile-avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: $green;
    }

    &:after {
      content: "";
      position: absolute;
      //top: 7px;
      top: calc(50% - 3px);
      right: 0;

      width: 0;
      height: 0;

      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid $gray;

      transition: transform 300ms cubic-bezier(0.5, 0, 0.1, 1), -webkit-transform 300ms cubic-bezier(0.5, 0, 0.1, 1);
    }
  }

  .dropdown-content {
    max-height: 0;
    background: $white;
    overflow: hidden;

    position: absolute;
    right: 0;
    top: 50px;
    width: 150px;

    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

    transition: max-height 300ms cubic-bezier(0, 0, 0.25, 1);
  }

}