.top-search {
  color: #282828;
  font-weight: bold;

  &-input {
    display: inline-block;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 40px;
    color: $gray;
    padding: 0 16px;
    border: 1px solid $white;
    margin-bottom: 0;
    width: 100px;
    transition: all 0.5s;

    &:focus {
      width: 250px;
      outline: none;
      border: 1px solid $gray-light;
    }
  }
}
