.profile-card-container {

  .profile-card-content {

  }

  .avatar-container {
    padding: 18px 0 10px;

    .profile-card-avatar {
      margin: auto;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $green;
      text-align: center;
      line-height: 50px;
    }
  }

  .profile-card-name {
    //font-size: 12px;
    //line-height: 14px;
    text-align: center;
    padding-bottom: 16px;

    a {
      color: #263238;
    }
  }

  border-bottom: 1px solid $gray-light;

}