.main-layout {
  background-color: #F5F7FA;
  min-height: 100vh;

  .header-actions {

    display: flex;
    align-items: center;

    .user-profile {
      margin-left: 30px;
    }

  }

}

.main-layout-page {
  display: flex;

  .main-left-sidebar {
    width: 196px;
    background-color: $white;
    min-height: calc(100vh - 69px - 80px);
    align-self: flex-start;
  }

  .main-content {
    flex: 1;
    margin: 0 20px;
    max-width: 740px;
  }

  .main-right-sidebar {
    width: 300px;

    > div {
      min-height: 300px;
      margin-bottom: 20px;
      background: #E0E0E0;
    }
  }
}
