.main-layout {
  background-color: #F5F7FA;
  min-height: 100vh;

  .header-actions {

    display: flex;
    align-items: center;

    .user-profile {
      margin-left: 30px;
    }

  }

}

.main-layout-page {
  display: flex;
  flex-direction: row;

  .main-left-sidebar {
    width: 196px;
    background-color: $white;
  }

  .main-content {
    flex: 1;
    margin: 0 20px;
    max-width: 740px;
  }

  .main-right-sidebar {
    width: 300px;

    > div {
      min-height: 300px;
      margin-bottom: 20px;
      background: $gray;
    }
  }
}