.edit-user {
  &__profile-photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: $gray-light;
    cursor: pointer;

    &:hover {
      background: $gray;

      svg {
        fill: $white;
      }
    }
  }

  &__add-photo {
    color: $gray;
    font-weight: 500;
  }

}
