@keyframes loading {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

@mixin loader($max-height: 100%) {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;

  &:after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    max-height: $max-height;
    background-color: rgba($gray-light, 0.5);
  }

  &:before {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    max-height: $max-height;
    background: linear-gradient(to right, rgba($gray-light, 0.5), rgba($gray-light, .9), rgba($gray-light, .5));
    animation: loading 1s linear infinite;
  }
}
