.edit-pet {
  &--profile-photo {
    width: 140px;
    height: 140px;
    background: $gray-light;
  }

  &--add-photo {
    color: $gray;
    font-weight: 500;
  }

  &--section-title {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 30px;
    color: $gray-dark;
  }
}