.index-page {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 300px);
}

.get-started-container {
  flex: 1;
  display: none;
}

.auth-form-container {
  max-width: 500px;
  width: 100%;
  margin: auto;

  .action-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .auth-form {
    margin-top: 36px;
  }
}

@media screen and (min-width: $tablet) {

  .index-page {
    padding-left: 0;
    padding-right: 0;
  }

  .get-started-container {
    display: block;
  }

  .auth-form-container {
    width: 400px;
    flex: initial;
  }
}
