.pet-types-container {
  .pet-types-title {
    font-size: 16px;
    line-height: 45px;
    padding: 0 15px;
    border-bottom: 1px solid $gray-light;
    color: $gray;
    font-weight: 400;

    span {
      &.loading {
        @include loader(10px);
      }
    }
  }

  .pet-types-list {
    list-style: none;

    .pet-type-item {
      line-height: 70px;
      background: $white;
      border-left: 5px solid $white;
      border-bottom: 1px solid $gray-light;
      padding: 0 10px 0 5px;

      transition: all 0.5s;

      display: flex;

      .pet-icon {
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .pet-name {
        flex: 1;

        &.loading {
          @include loader(10px);
        }
      }

      .pet-circle {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;

        &.loading {
          @include loader();
        }
      }

      &:hover {
        background: rgba($green-light, 0.04);
        border-left: 5px solid rgba($green-light, 0.04);
      }

      &.selected {
        background: rgba($green-light, 0.08);
        border-left: 5px solid $green;
      }
    }

  }
}

.add-pet {
  &-title {
    &.loading {
      @include loader();
    }
  }

  &-form {
    margin-top: 20px;
  }
}

.add-pet-page {
  .pet-name {
    &.loading {
      @include loader();
    }
  }
}