.search-page {
  &-search {
    padding: 22px;
  }

  &-filters {
    &-title {
      margin: 15px 22px;
    }
  }

  &-form {
    &-input {
      display: inline-block;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      line-height: 40px;
      color: $gray;
      padding: 0 16px;
      border: 1px solid $gray-light;
      margin-bottom: 0;
      width: 100%;
      transition: all 0.5s;

      &:focus {
        outline: none;
      }
    }
  }

  &-more {
    margin-top: 8px;
  }

  &-card {
    background: $white;

    &-pet {
      padding: 12px 20px;

      &-name {
        font-size: 16px;
      }

      &-info {
        margin-top: 15px;
      }
    }

    &-user {
      padding: 5px 20px 12px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 20px;
        right: 20px;
        top: 0;
        height: 1px;
        background: $gray-light;
      }

      &-icon {
        background: $gray-light;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        line-height: 26px;
        text-align: center;
      }

      &-name {
        color: $green;
        margin-left: 15px;
      }
    }
  }
}