.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.display-block {
  display: block !important;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-light {
  font-weight: 300;
}

.gray-light {
  color: $gray-light;
}

.gray {
  color: $gray;
}

.gray-dark {
  color: $gray-dark;
}

.bg-white {
  background-color: $white;
}

.color-gray {
  color: $gray;
}

@each $size in $sizes {
  .padding-#{$size} {
    padding: #{$size}px;
  }

  .padding-t-#{$size} {
    padding-top: #{$size}px;
  }

  .padding-v-#{$size} {
    padding-top: #{$size}px;
    padding-bottom: #{$size}px;
  }

  .margin-h-#{$size} {
    margin-left: #{$size}px;
    margin-right: #{$size}px;
  }

  .margin-t-#{$size} {
    margin-top: #{$size}px;
  }

  .margin-b-#{$size} {
    margin-bottom: #{$size}px;
  }
}

.submission-error {
  margin-top: 5px;
  margin-bottom: 18px;
  display: block;
  color: $red;
}

.d-flex {
  display: flex;

  > .col-3 {
    width: calc(3 / 12 * 100%);
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  > .col-4 {
    width: calc(4 / 12 * 100%);
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  > .col-5 {
    width: calc(5 / 12 * 100%);
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  > .col-7 {
    width: calc(7 / 12 * 100%);
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  > .col-9 {
    width: calc(9 / 12 * 100%);
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .col-6 {
    width: 50%;
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &.row {
    margin: 0 -10px;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-space-between {
    justify-content: space-between;
  }

  &.align-center {
    align-items: center;
  }
}