.pet-types-container {
  .pet-types-title {
    font-size: 16px;
    line-height: 45px;
    padding-left: 13px;
    border-bottom: 1px solid $gray-light;
    color: $gray;
    font-weight: 400;
  }

  .pet-types-list {
    list-style: none;

    .pet-type-item {
      line-height: 70px;
      background: $white;
      border-left: 5px solid $white;
      border-bottom: 1px solid $gray-light;
      cursor: pointer;

      transition: all 0.5s;

      display: flex;

      .pet-icon {
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .pet-name {
        flex: 1;
      }

      &:hover {
        background: rgba($green-light, 0.04);
        border-left: 5px solid rgba($green-light, 0.04);
      }

      &.selected {
        background: rgba($green-light, 0.08);
        border-left: 5px solid $green;
      }
    }

  }
}

.add-pet-form-container {
  padding: 0 20px;

  .add-pet-title {
    margin: 45px 0;
  }
}