@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

@import "~react-image-gallery/styles/scss/image-gallery.scss";

@import "variables";
@import "mixins";
@import "helpers";
@import "typography";

@import "form/input";
@import "form/select";
@import "form/button";

@import "layouts/main";
@import "layouts/auth";

@import "pages/auth";
@import "pages/pets";
@import "pages/home";

@import "components/header";
@import "components/dropdown";
@import "components/user-profile-card";
@import "components/user-profile-dropdown";

@import "pet/pet-profile";
@import "pet/edit-pet";

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

*, :after, :before {
  box-sizing: border-box;
}

body {
  font: 14px "Roboto", sans-serif;
  color: $gray-dark;
}

main {
  padding: 40px 0;
}

.container {
  max-width: 1276px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

.hr-text {
  text-align: center;
  position: relative;
  outline: 0;
  border: 0;
  margin-top: 20px;
  overflow: hidden;

  &:before, &:after {
    background-color: $gray-light;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &:before {
    right: 20px;
    margin-left: -50%;
  }

  &:after {
    left: 20px;
    margin-right: -50%;
  }
}