h1, h2, h3, h4, h5 {
  font-weight: 400;
  color: $black;
}

p {
  font-size: 14px;
  line-height: 16px;
}

h3 {
  font-size: 24px;
  line-height: 28px;
}

h4 {
  font-size: 14px;
  line-height: 16px;
}

a {
  color: $green;
  text-decoration: none;
}