$sizes: 0, 10, 20, 30, 35, 40, 50, 60;

$white: #ffffff;
$black: #000000;

$gray-light: rgb(224, 228, 233);
$gray: #828282;
$gray-dark: #656565;

$green-light: rgb(117, 196, 130);
$green: rgb(39, 174, 96);
$green-dark: rgb(28, 121, 61);

$red: #EB5757;

$bold: 700;

$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;
