.pet-profile {
  margin-bottom: 20px;
  position: relative;

  &-edit {
    position: absolute;
    right: 20px;
    top: 20px;
  }

  &-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: $gray;
    margin-bottom: 35px;
  }

  &-content {

  }
}

.pet-story {

}

.pet-facts {
  display: flex;

  &-picture {
    color: red;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
  }

  &-img {
    //width: 300px;

    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;

    max-height: 300px;

    /* For the following settings we set 100%, but it can be higher if needed
    See the answer's update */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
  }

  &-content {
    padding-left: 35px;
  }

  &-name {
    font-size: 28px;
    font-weight: bold;
  }

  &-list {
    margin-top: 10px;
  }

  &-label {
    width: 100px;
    float: left;
    clear: left;
    margin-top: 26px;
  }

  &-value {
    float: left;
    font-weight: bold;
    margin-top: 26px;
  }
}

.pet-info {
  display: flex;
  justify-content: space-between;

  &-list {
    margin-top: 35px;
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 15px;
    padding: 30px 5px;
    text-align: center;
    border: 1px solid $gray-light;

    &:last-child {
      margin-right: 0;
    }
  }

  &-label {

  }

  &-value {
    font-weight: bold;
    margin-top: 26px;
  }
}