.main-layout {
  background-color: #F5F7FA;
  min-height: 100vh;

  .header-actions {

    display: flex;
    align-items: center;

    .user-profile {
      margin-left: 30px;
    }

    .user-name {
      margin-left: 10px;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
    }

  }

}

.main-layout-page {
  display: flex;
  flex-direction: row;

  .main-left-sidebar {
    min-width: 196px;
    background-color: $white;
  }

  .main-content {
    flex: 1;
    margin: 0 20px;
  }

  .main-right-sidebar {
    max-width: 300px;
    width: 100%;
    display: none;
  }
}

@media screen and (min-width: $desktop) {
  .main-layout-page {
    .main-right-sidebar {
      display: block;
    }
  }
}