.pb-datepicker {
  border-radius: 0;
  border: 1px solid $green;
}

.react-datepicker {
  &-wrapper {
    display: block;
  }

  &__input-container {
    display: block;
  }

  &__header {
    background: rgba($green, 0.1);
  }

  &__day--keyboard-selected {
    background: $green;
  }

  &__day--selected {
    background: $green;
  }

  &__day {
    &:hover {
      border-radius: 0;
      background: rgba($green, 0.1);
    }
  }
}
