.select-container {
  margin-bottom: 20px;

  &[disabled] {
    .select {
      background: $gray-light;
      cursor: not-allowed;
    }
  }

  &.select-error {
    .select {
      .select-text {
        border: 1px solid $red;

        &.no-border {
          border-top: none;
          border-left: none;
          border-right: none;
        }
      }
    }

    .select-error-message {
      margin-top: 5px;
      display: block;
      color: $red;
      font-size: 12px;
    }
  }

  .select-error-message {
    display: none;
  }

  .select {
    list-style: none;
    position: relative;
    background: $white;
    cursor: pointer;

    &.select-open {
      z-index: 7000;

      .select-text {
        border: 1px solid $green;
        border-bottom: none;

        &.no-border {
          border-top: none;
          border-left: none;
          border-right: none;
        }

        &:after {
          transform: rotate(-180deg);
        }
      }

      .select-list {
        max-height: 200px;
        overflow: auto;

        border-left: 1px solid $green;
        border-right: 1px solid $green;
        border-bottom: 1px solid $green;
      }

    }

    .select-text {
      display: inline-block;
      width: 100%;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: $gray;
      line-height: 40px;
      padding: 0 16px;
      text-decoration: none;
      border: 1px solid $gray-light;
      border-bottom: none;
      position: relative;

      &.no-border {
        border-top: none;
        border-left: none;
        border-right: none;
      }

      &:hover {
        background: rgba($green, 0.02);
      }

      &:after {
        content: "";
        position: absolute;
        top: 16px;
        right: 16px;

        width: 0;
        height: 0;

        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid $gray;

        transition: transform 300ms cubic-bezier(0.5, 0, 0.1, 1), -webkit-transform 300ms cubic-bezier(0.5, 0, 0.1, 1);
      }
    }

    .select-list {
      list-style: none;
      max-height: 0;
      background: $white;
      overflow: hidden;

      position: absolute;
      left: 0;
      right: 0;
      top: 100%;

      border-left: 1px solid $gray-light;
      border-right: 1px solid $gray-light;
      border-bottom: 1px solid $gray-light;

      transition: max-height 300ms cubic-bezier(0, 0, 0.25, 1);

      .select-item {
        display: inline-block;
        width: 100%;
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: $gray;
        line-height: 40px;
        padding: 0 16px;
        text-decoration: none;
        border: none;

        &:hover {
          background: rgba($green, 0.02);
        }
      }
    }
  }
}