.main-header {
  padding: 18px 0;
  background-color: $white;
  border-bottom: 1px solid $gray-light;

  .search-container {
    color: #282828;
    font-weight: bold;

    .search-input-item {
      display: inline-block;
      width: 100px;
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      line-height: 40px;
      color: $gray;
      padding: 0 16px;
      border: 1px solid $white;

      transition: all 0.5s;

      &:focus {
        width: 250px;
        outline: none;
        border: 1px solid $gray-light;
      }
    }
  }
}

.auth-actions {
  .btn {
    margin-left: 30px;
  }
}