.pet-profile {
  padding: 35px;
  background-color: $white;
  margin-bottom: 20px;

  &-title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: $gray;
    margin-bottom: 35px;
  }

  &-content {

  }
}

.pet-story {

}


.pet-info {

  display: flex;

  &-picture {
    color: red;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
  }

  &-img {
    //width: 300px;

    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;

    max-height: 300px;

    /* For the following settings we set 100%, but it can be higher if needed
    See the answer's update */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
  }

  &-content {
    padding-left: 35px;
  }

  &-name {
    font-size: 28px;
    font-weight: bold;
  }

  &-list {
    margin-top: 10px;
  }

  &-label {
    width: 85px;
    float: left;
    clear: left;
    margin-top: 26px;
  }

  &-value {
    float: left;
    font-weight: bold;
    margin-top: 26px;
  }
}