.profile-card-container {
  background-color: $green;

  .profile-card-content {
    padding: 18px 0 25px;
  }

  .avatar-container {
    padding: 0 0 10px;

    .profile-card-avatar {
      margin: auto;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: $white;
      text-align: center;
      line-height: 50px;
    }
  }

  .profile-card-user {
    padding: 0 13px;

    .profile-card-info {
      color: $white;
    }

    .profile-card-contacts {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      padding: 0 9px;

      > div {
        width: 30px;
        height: 30px;
        background-color: $white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .profile-card-name {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding-bottom: 16px;
    font-weight: bold;

    a {
      color: $white;
    }
  }

  border-bottom: 1px solid $gray-light;

}