$white: #ffffff;
$black: #000000;

$gray-light: #E0E0E0;
$gray: #828282;
$gray-dark: #656565;

$green-light: #3fa900;
$green: #27AE60;

$red: red;

$bold: 700;

$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;